In [1]:

# library imports
import pandas as pd

# local file imports
import src.util.dataset_loader as dsl

In [2]:
a = dsl.load_datasets("data")

get_num_cols = lambda x: len(x.keys())
get_num_rows = lambda x: x[list(x.keys())[0]].shape[0]

rows = []
for ds, values in a:
    rows.append([ds.name, get_num_cols(values), get_num_rows(values)])

dataset_descriptor = pd.DataFrame(rows, columns=["name", "num_columns", "num_rows"])

In [3]:
# dataset_descriptor.sort_values("num_columns", ascending=False, inplace=True)
dataset_descriptor.sort_index(inplace=True)

display(dataset_descriptor)

                  name  num_columns  num_rows
0            mushrooms           22      8124
1           ionosphere           35       351
2      churn_modelling           11     10000
3              baloons            5        12
4            fourclass            3       862
5       campus_recruit           12       215
6                glass           10       205
7         lymphography           19       142
8       sklearn_boston           14        16
9           australian           15       690
10     credit_approval           16       653
11             pokemon            9       796
12     liver_disorders            6       145
13     world_happiness           19       127
14           svmguide1            5      3089
15              splice           61      1000
16             soybean           36       176
17        skin_nonskin            4     10000
18  ges_classification            4       941
19  blood_transfusions            5       747
20      sklearn_cancer           31       569
21       accelerometer            5     10000
22       balance_scale            5       625
23               ecoli            8       327
24           svmguide3           23      1243
25         spect_heart           23       187
26            spambase           58      4600
27                iris            5       150
28           fertility           10       100
29        sklearn_wine           14       178
30      default_credit           24     10000